<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    {{>jsAndCss}}
</head>

<body>
    <div class="myContainer" id="movie">
      {{>header}}
      <p>{{data.key}}</p>
      <p>Ratings: {{data.ratings}}</p>
      <p style="color:red;">(transformed) Average rating: {{data.averageRating}}</p>
      <p>Ratings count: {{data.ratingsCount}}</p>
      <p style="color:red;">(transformed) Average rating count: {{data.averageRatingsCount}}</p>
      <p>Years: {{data.years}}</p>
      <p style="color:red;">(transformed) Average year: {{data.averageYear}}</p>
      <p>Movie hrefs: {{data.movieHrefs}}</p>
      <a href="/csv/{{data.key}}">Extract csv with movie data</a>
      {{>footer}}
  </div>
</body>
<script>
</script>

</html>
